<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Img</th>
            <th scope="col">Fleet</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let sensor of sensors" (click)="selectSens(sensor.id)">
            <td>{{sensor.id}}</td>
            <td>{{sensor.name}}</td>
            <td>{{sensor.img}}</td>
            <td>{{sensor.fleet}}</td>
        </tr>
    </tbody>
</table>
<div class="buttons">
    <button type="button" class="btn btn-primary" (click)="atras()">Atrás</button>
    <button type="button" class="btn btn-primary" (click)="siguiente()">Siguiente</button>
</div>